.account-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #2a3143;
  border-radius: 8px;
  background-color: #f9f9f9;
  background: #2a3143;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.account-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff;
}

.form-text-input {
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 22px);
  background-color: #181b26;
}

.sign-up-btn,
.login-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  color: #2a3143;
  background-color: #48c1be;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  border: 1px solid;
  margin-bottom: 20px;
}

.delete-acc-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dd143c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  border: 1px solid #2a3143;
  margin-bottom: 20px;
}

.delete-acc-btn:hover {
  background-color: #384d61;
  color: #dd143c;
  border: 1px solid;
}

.password-label {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.password-icon-button {
  width: 30px;
  cursor: pointer;
  opacity: 0.8;
  border-width: 0;
  background: none;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
  background-color: #2a3143;
  color: #fff;
  position: absolute;
  /* right: 10px; */
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .account-form-container {
    max-width: 300px;
  }
}
