.login-form-container,
.sign-up-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #2a3143;
  border-radius: 8px;
  background-color: #f9f9f9;
  background: #2a3143;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.onLogin-header {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff;
}

.form-text-input {
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 22px); /* To compensate for padding and border */
  background-color: #181b26;
}

.terms-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.terms-container input {
  margin-right: 10px;
}

.sign-up-btn,
.login-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #2a3143;
  background-color: #48c1be;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  border: 1px solid;
}

.guest-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #384d61;
  color: #48c1be;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  border: 1px solid;
}

.sign-up-btn:hover,
.login-btn:hover {
  background-color: #384d61;
  color: #48c1be;
}

.guest-btn:hover {
  color: #2a3143;
  background-color: #48c1be;
}

.form-link {
  color: #ffad00;
}
.form-link:hover {
  color: #48c1be;
  text-decoration: underline;
}

.form-p {
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.terms {
  font-size: 14px;
}

@media (max-width: 600px) {
  .login-form-container,
  .sign-up-form-container {
    max-width: 300px;
  }
}
