body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
}

body.active-modal {
  overflow-y: hidden;
}

.input-crypto-icon {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.input-coin:hover {
  cursor: pointer;
}

.modal-header {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.btn-modal {
  background-color: #48c1be;
  color: #2a3143;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.btn-modal:hover {
  background-color: #384d61;
  color: #48c1be;
  border: 1px solid;
}

.modal,
.overlay {
  width: 100vw;
  height: 1500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  position: fixed;
}

.overlay {
  opacity: 0.7;
  background: #12171f;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  z-index: 10;
}

.close-modal {
  position: absolute;
  background: #2a3143;
  background: none;
  color: #648cb6;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  font-size: 22px;
  font-size: 20px;
  text-shadow: none;
  top: 16px;
  right: 16px;
}

.close-modal-edit-coin {
  position: absolute;
  background: #2a3143;
  color: #648cb6;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  font-size: 22px;
  text-shadow: none;
  top: 5px;
  right: 5px;
}

.close-modal:hover,
.close-modal-delete-portfolio:hover,
.close-modal-edit-coin:hover {
  color: #49c0be;
  cursor: pointer;
}

.portfolio-search {
  background: #1d2330;
  border-radius: 5px 5px;
  height: 0.8em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  border-width: 0em;
  font-size: 16px;
  margin-bottom: 20px;
}

.edit-coin-input {
  background: #1d2330;
  border-radius: 5px 5px;
  height: 0.8em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  margin-bottom: 20px;
  border-width: 0em;
  font-size: 16px;
  margin-bottom: 20px;
}

.portfolio-quantity {
  width: 150px;
  background: #1d2330;
  border-radius: 5px 5px;
  height: 0.8em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  margin-bottom: 20px;
  border-width: 0em;
  font-size: 16px;
  margin-bottom: 20px;
}

.add-portfolio-coin-btn {
  background-color: #48c1be;
  color: #2a3143;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.add-portfolio-coin-btn:hover,
.delete-portfolio-modal-btn:hover {
  background: #2a3143;
  color: #48c1be;
  border: 1px solid;
}

.delete-portfolio-coin-btn {
  position: absolute;
  background-color: #dd143c;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
  right: 10px;
}

.delete-portfolio-coin-btn:hover {
  background-color: #384d61;
  color: #dd143c;
  border: 1px solid;
}

.delete-portfolio-modal-btn {
  background-color: #48c1be;
  color: #2a3143;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
  margin: 0 auto;
}

.modal-content-delete-portfolio {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  width: 200px;
  border: 0.02em solid #12171f;
  z-index: 11;
}

.delete-portfolio-modal-text,
.add-coin-modal-text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.delete-portfolio-modal-icon {
  display: block;
  margin: 0 auto;
  color: #dd143c;
}

.close-modal-delete-portfolio {
  position: absolute;
  background: #2a3143;
  color: #648cb6;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  font-size: 22px;
  text-shadow: none;
  top: 3px;
  right: 2px;
}

.delete-edit-overlay {
  opacity: 0.1;
  background: #12171f;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9;
}

.add-coin-modal {
  position: absolute;
  background: #2a3143;
  color: #648cb6;
  border: none;
  border: 0.02em solid #12171f;
  border-radius: 8px;
  transition: ease-out 0.3s;
  outline: none;
  font-size: 22px;
  text-shadow: none;
  top: 90px;
  width: 320px;
  height: 100px;
  z-index: 12;
}

.add-coin-overlay {
  opacity: 0.1;
  background: #12171f;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 8;
}

.add-coin-modal-text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.update-portfolio-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  width: 200px;
  border: 0.02em solid #12171f;
  z-index: 13;
}

.update-portfolio-modal-text {
  text-align: center;
  font-size: 16px;
}

.update-edit-overlay {
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 7;
}

.share-modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  border: 0.02em solid #12171f;
  z-index: 14;
}

.share-modal-header {
  text-align: center;
  margin-top: -10px;
}

.btn-share-modal {
  background-color: #384d61;
  color: #48c1be;
  border: 1px solid;
  border-radius: 5px;
  font-weight: 600;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
  display: block;
  margin-left: 60px;
  height: 25px;
}

.btn-share-modal:hover,
.edit-share-btn:hover {
  background-color: #48c1be;
  color: #384d61;
  border: 1px solid;
}

.edit-share-btn {
  background-color: #384d61;
  color: #48c1be;
  border: 1px solid;
  border-radius: 5px;
  font-weight: 600;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
}

.modal-content-check {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  width: 200px;
  border: 0.02em solid #12171f;
  z-index: 15;
}

.modal-content-add-coin {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  width: 200px;
  border: 0.02em solid #12171f;
  z-index: 16;
}

.modal-content-update-portfolio {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  width: 200px;
  border: 0.02em solid #12171f;
  z-index: 17;
}

.qr-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 18;
}

.qr-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.7;
  background: #12171f;
  z-index: 6;
}

@media (max-width: 600px) {
  .modal-content {
    width: 0px;
  }

  .add-coin-modal {
    width: 320px;
  }

  .btn-share-modal {
    margin-left: 25px;
  }

  .modal-content-add-coin {
    left: 45%;
  }
}

@media (max-width: 900px) {
  .modal-content {
    width: 0px;
  }

  .add-coin-modal {
    width: 320px;
  }

  .btn-share-modal {
    margin-left: 25px;
  }
}
