body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
}

body.active-modal {
  overflow-y: hidden;
}

.input-crypto-icon {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.input-coin:hover {
  cursor: pointer;
}

.modal-header {
  line-height: 1.2;
  font-size: 18px;
  width: 100%;
  font-weight: 400;
}

.btn-modal {
  background-color: #48c1be;
  color: #2a3143;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.btn-modal:hover {
  background-color: #384d61;
  color: #48c1be;
  border: 1px solid;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  opacity: 0.7;
  background: #12171f;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #2a3143;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  background: #2a3143;
  color: #648cb6;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  font-size: 22px;
  text-shadow: none;
  position: absolute;
  top: 16px;
  right: 16px;
}

.close-modal:hover {
  color: #49c0be;
  cursor: pointer;
}

.portfolio-search {
  width: 300px;
  background: #1d2330;
  border-radius: 5px 5px;
  height: 0.8em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  border-width: 0em;
  font-size: 16px;
  margin-bottom: 30px;
}

.edit-coin-input {
  width: 300px;
  background: #1d2330;
  border-radius: 5px 5px;
  height: 0.8em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  margin-bottom: 20px;
  border-width: 0em;
  font-size: 16px;
  margin-bottom: 20px;
}

.portfolio-quantity {
  width: 150px;
  background: #1d2330;
  border-radius: 5px 5px;
  height: 0.8em;
  padding: 16.5px 14px;
  padding-left: 5px;
  color: #ffffff;
  margin-bottom: 20px;
  border-width: 0em;
  font-size: 16px;
  margin-bottom: 30px;
}

.add-portfolio-coin-btn {
  background-color: #48c1be;
  color: #2a3143;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
}

.add-portfolio-coin-btn:hover {
  background: #2a3143;
  color: #48c1be;
  border: 1px solid;
}

.delete-portfolio-coin-btn {
  background-color: #dd143c;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
}

.delete-portfolio-coin-btn:hover {
  background-color: #384d61;
  color: #dd143c;
  border: 1px solid;
}

@media (max-width: 600px) {
  .modal-content {
    width: 0px;
  }
}
